## Topics to be covered
#### Variables and Variable naming conventions
#### Data types in Python
#### Conditional Statements
#### Looping Statements
#### Functions
#### Package in Python
#### Libarary

# Operators

In [9]:
# Arithematic Operator
print(3+5)
print(5*2)
print(5-2)
print(6/3)

8
10
3
2.0

In [3]:
'string'*3
# 'string'+3 will show error

'stringstringstring'

In [14]:
#Comparison operator return T/F 
print(3>5)
print(5>3)
#  <
#  <=
#  ==
#  >
#  >=
#  !=

False
True

In [16]:
#Logical Operator  and ,  or , not

In [17]:
# and : returns first false, if not found return last

In [29]:
print(0 & 0)
print(0 & 1)
print(1 & 0)
print(1 & 1)
print('.....')
print(0 and 0)
print(0 and 1)
print(1 and 0)
print(1 and 1)

0
0
0
1
.....
0
0
0
1

In [26]:
print(3 & 5)
print(3 and 5)

1
5

In [27]:
# or : return first true value, if not found return last

In [31]:

print(0 or 0)
print(0 or 1)
print(1 or 0)
print(1 or 1)

0
1
1
1

In [32]:
print(3 or 5)

3

In [33]:
#not : flips the boolean value

In [37]:
print(not(0))
print(not(3))
print(not('hi'))

True
False
False

#    Variables

In [1]:
j=5
print(j)
k='hi'
print(k)
type(4)

5
hi

int

# Conditional Statement

In [44]:
# If-else statement

#  If(condition):
#      st1
#  else
#      st2

#-------Multiple------
#  if(condition):
#      st1
#  elif(condition2):
#      st2
#  else:
#      st3

In [48]:
x=0

In [53]:
if(x>0):
   print("positive")
elif(x==0):
   print('zero')
else:
   print('negative')

zero

# Looping

In [6]:
for i in range(5):
  print(i)

0
1
2
3
4

In [8]:
for i in range(10, 15): # [a,b)
    print(i)

10
11
12
13
14

In [12]:
for i in range(10, 20, 2): 
   print(i)

10
12
14
16
18

# Functions

In [13]:
#   def fun_name(arg):
#        st 1
#        st 2
#        return st

In [15]:
def compare(a,b):
    if(a>b):
      return a
    return b
print(compare(3,5))

5

In [16]:
def area_circle(r):
  return 3.14*r*r
print(area_circle(3))

28.259999999999998

# Data structure

### List mix data in sequence : [  ' a' , 'b' , '1' , 'ram' ]

### Dictionaries key-pair data no sequence { 'ram':2 , 'syam':3 }  { ' key ' : value }

In [28]:
list1=['an',1, 2,'se']
list1

['an', 1, 2, 'se']

In [32]:
#sub-sttting list
print(list1[1])  # extract a item
print(list1[1:4]) # extract a sequence [a:b]
print(list1[-1])  # extract from end

1
[1, 2, 'se']
se

In [34]:
#adding element in list
list1.append(5) # add a element in the last 
list1

['an', 1, 2, 'se', 4, 4]

In [42]:
list1.extend([6,7,8])
print(list1)
list1.append([9,'sw'])
print(list1)
list1.extend([11, 'df'])
print(list1)

['an', 'se', 4, 4, 6, 7, 8, 6, 7, 8, [9, 'sw'], 6, 7, 8, [9, 'sw'], 11, 'df', 6, 7, 8]
['an', 'se', 4, 4, 6, 7, 8, 6, 7, 8, [9, 'sw'], 6, 7, 8, [9, 'sw'], 11, 'df', 6, 7, 8, [9, 'sw']]
['an', 'se', 4, 4, 6, 7, 8, 6, 7, 8, [9, 'sw'], 6, 7, 8, [9, 'sw'], 11, 'df', 6, 7, 8, [9, 'sw'], 11, 'df']

In [46]:
#delete item from list
list1.remove('an') # remove a element by valur 
print( list1 )

['se', 4, 6, 7, 8, 6, 7, 8, [9, 'sw'], 6, 7, 8, [9, 'sw'], 11, 'df', 6, 7, 8, [9, 'sw'], 11, 'df']

In [48]:
del list1[3]  # delete by index
print(list1)

['se', 4, 6, 6, 7, 8, [9, 'sw'], 6, 7, 8, [9, 'sw'], 11, 'df', 6, 7, 8, [9, 'sw'], 11, 'df']

In [50]:
 # looping over the list
for i in list1: 
    print(i)

se
4
6
6
7
8
[9, 'sw']
6
7
8
[9, 'sw']
11
df
6
7
8
[9, 'sw']
11
df

# Dictionaries

In [58]:
dict1 = { 'Ram' : [150, 46] , 'sam' : [23, 45] , }

In [59]:
dict1['Ram'] # use key to access value

[150, 46]

In [60]:
# adding a singe element
dict1['Ne']=[12,3]
print( dict1 )

{'Ram': [150, 46], 'sam': [23, 45], 'Ne': [12, 3]}

In [61]:
# adding muliple key values
dict1.update( { 'ks':[23, 34], 'fr':[43 ,56] } )
print(dict1)

{'Ram': [150, 46], 'sam': [23, 45], 'Ne': [12, 3], 'ks': [23, 34], 'fr': [43, 56]}

In [ ]:
# deleting from dictionarise
del dict1['Ram']

In [64]:
print(dict1)

{'sam': [23, 45], 'Ne': [12, 3], 'ks': [23, 34], 'fr': [43, 56]}